name: Build Myau Client

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17' # Sử dụng Java 17 để chạy Plugin Architectury (yêu cầu tối thiểu Java 16)
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      # -x test giúp bỏ qua các bước kiểm tra mã nguồn, giúp build nhanh hơn và giảm lỗi thừa
      run: ./gradlew build -x test

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Myau-Client-Jar
        path: build/libs/*.jar # GitHub sẽ quét thư mục này để lấy file .jar gửi cho bạn
